.Mosaic {
    display: flex;
    justify-content: center;
}

.Category {
    border: 2px solid #113366;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
}

.Left {
    width: 392px;
    height: 443px;
    margin-right: 24px;
}

.Left div {
    height: 100%;
}

.Center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Center > div:nth-child(1){
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 600px;
    height: 50%;
    margin-bottom: 12px;
}

.Center > div:nth-child(1) > div:nth-child(1) {
    height: 215px;
}

.Center > div:nth-child(2){
    display: flex;
    height: 50%;
    margin-top: 12px;
}

.Center > div:nth-child(2) > div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.Center > div:nth-child(2) > div:nth-child(1) div {
    height: 204px;
    width: 100%;
}

.Center > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    height: 100%;
    margin-right: 12px;
}

.Center > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    height: 100%;
    margin-left: 12px;
}

.Right {
    margin-left: 24px;
    width: 184px;
    height: 443px;
}

.Right div{
    padding: 0 8px;
    height: 100%;
}

@media (max-width: 950px) {
    .Mosaic {
        flex-direction: column;
    }

    .Top {
        flex: 1;
        width: 100%;
        height: 248px;
        margin-bottom: 20px;
    }

    .Right {
        margin: 0 auto;
    }

    .Center > div:nth-child(1){
        width: 100%;
        height: 124px;
        margin-bottom: 10px;
    }

    .Center > div:nth-child(2){
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .Bottom {
        flex: 1;
        width: 100%;
        height: 124px;
    }
}
